@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-variation-settings:
     "wdth" 50;
}

/* --------------------------------------- inicio  header ---------------------------- */

header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url(../Images/foto-header-hero3.1.jpg) no-repeat center/cover;
    padding: 20px 15px;
    transition: all ease;
    height: 15vh;
} 

nav:hover{
    color: turquoise;
    cursor: pointer;
}

.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px; 
    
} 

.redes i:hover{
    color: turquoise;
    cursor: pointer;
} 

.menu2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    gap: 10px;
    padding: 15px 30px;
}

/* --------------------------------------- fin  header ---------------------------- */



/* --------------------------------------- inicio main ---------------------------- */

main {
    background-color: rgb(255, 255, 255);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ inicio hero ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.hero{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    text-align: center; 
    height: 40vh;
    background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url(../Images/foto-header-hero3.jpg) no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ fin hero ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~ inicio parte 2 texto con foto al lado ~~~~~~~~~~~~~~~~~ */


.parte2 {
    display: flex;
}

.parte2 img{
    display: flex;
    justify-self:flex-end;
    height: 85vh; 
    padding: 50px 0;
    padding-right: 50px;
    
}

.parte2 div {
    padding: 25px 50px;
    margin: 40px 45px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
   
}

.parte2 h2 {

    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 15px 0;
}

.parte2 p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
}

/* ~~~~~~~~~~~~~~~~~~~~ fin parte 2 texto con foto al lado ~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~ inicio parte 3 , los 2 textos en medio ~~~~~~~~~~~~~~~~~ */


.parte3{
    background-color: rgba(128, 128, 128,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte3 h2{
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.parte3 span {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.parte3 div{
    max-width: 450px;
    padding: 40px;
    margin: 30px;
    line-height: 25px;
}

/* ~~~~~~~~~~~~~~~~~~~~ fin parte 3 , los 2 textos en medio ~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~ inicio parte 4 , las 4 fotos ~~~~~~~~~~~~~~~~~ */

.parte4 img {
    margin: 15px 0;
    height: 50vh;
    width: 100vw;
    filter: grayscale(100%);
} 

/* ~~~~~~~~~~~~~~~~~~~~ fin parte 4 , las 4 fotos ~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~ inicio parte 5 , texto y botón ~~~~~~~~~~~~~~~~~ */


.parte5 {
    background-image: url(../Images/foto-main-3.jpg);
    height: 50vh;
}

.parte5 h2 {
    font-size: 40px;
    width: 15vw;
    padding: 40px 30px;
    justify-self: center;
    align-self: flex-start;
}

.parte5 p{
    justify-self: center;
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
} 

.parte5 button{
    margin: 25px 0;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-self: center;
    align-self: flex-end; 
    border-radius: 5px;
    color: white;
    background-color: rgb(15, 191, 250);
    border-style: none;
    cursor: pointer;
    transition: all 0.5s ease;
} 

button:hover{
    transform: scale(1.1);
}

/* ~~~~~~~~~~~~~~~~~~~~ fin parte 5 , texto y botón ~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~ inicio parte 6, redes y formulario correo ~~~~~~~~~~~~~~~~~ */

.parte6 {
    display: flex;
    justify-content: space-around;
    background-color: rgba(46, 46,56,1) ;
    color: white;
} 

.parte6 div {
    max-width: 400px;
    padding: 55px;
}

.parte6 h3{
    text-transform: uppercase;
    padding: 10px;
}

.parte6 p{
    padding: 5px 0;
    line-height: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.parte6 button {
    font-size: 25px;
    gap: 50px;
    color: rgba(156, 156, 156, 0.8);
    background-color:  rgba(46, 46, 56,0.9) ;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}

.formulario-correo {
    border: solid rgb(79, 79, 82) 10px;
   max-width: 300px;
}

.formulario-correo p {
    align-self: flex-start;
    justify-self: flex-start;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

input[type="email"]{
   background-color:  rgba(46, 46, 56,0.9);
   padding: 15px 20px;
   color: white;
   border: solid rgb(79, 79, 82) 5px;

}


input[type="button"]{
    font-size: 15px;
    color: white;
    background-color: rgb(15, 191, 250);
    padding: 15px 75px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-style: none;
}

/* ~~~~~~~~~~~~~~~~~~~~ fin parte 6, redes y formulario correo ~~~~~~~~~~~~~~~~~ */

/* --------------------------------------- inicio footer ---------------------------- */


footer{
    background-color: rgba(46, 46, 56,0.8);
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin-left: 10px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
   
}

li:hover{
    color: turquoise;
    cursor: pointer;
} 

li::marker{
    color: rgb(15, 191, 250);
}

li:first-child {
    list-style: none;
}

/* --------------------------------------- fin footer ---------------------------- */


