@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-variation-settings:
     "wdth" 50;
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url(../Images/foto-header-hero3.1.jpg) no-repeat center/cover;
    padding: 20px 15px;
    transition: all ease;
    height: 15vh;
} 

nav:hover{
    color: turquoise;
    cursor: pointer;
}

.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px; 
    
} 

.menu2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    gap: 10px;
    padding: 15px 30px;
}

i:hover{
    color: turquoise;
    cursor: pointer;
} 

main {
    background-color: rgb(255, 255, 255);
}


.hero{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    text-align: center; 
    height: 40vh;
    background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url(../Images/foto-header-hero3.jpg) no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte2 img{
    display: flex;
    float:right;
    height: 80vh; 
    padding: 40px 20px;
    margin: 0 50px 0 0;
}

.parte2 {
    max-width: 500px;
    padding: 25px 50px;
    margin: 40px 45px;
    display: flex;
    flex-wrap: wrap;
}

.parte2 h2 {

    align-items: center;
    justify-content: center;
    padding: 15px 0;
}


.parte3{
    background-color: rgba(128, 128, 128,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.parte3 h2{
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.parte3 span {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.parte3 div{
    max-width: 450px;
    padding: 40px;
    margin: 30px;
    line-height: 25px;
}

.parte4 img {
    margin: 15px 0;
    height: 50vh;
    width: 100vw;
    filter: grayscale(100%);
} 


.parte5 {
    background-image: url(../Images/foto-main-3.jpg);
    height: 50vh;
}

.parte5 h2 {
    font-size: 40px;
    width: 15vw;
    padding: 40px 30px;
    justify-self: center;
    align-self: flex-start;
}

.parte5 p{
    justify-self: center;
    align-self: center;
} 

.parte5 button{
    margin: 25px 0;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-self: center;
    align-self: flex-end; 
    border-radius: 5px;
    color: white;
    background-color: rgb(15, 191, 250);
    border-style: none;
    cursor: pointer;
    transition: all 0.5s ease;
} 

button:hover{
    transform: scale(1.1);
}

footer{
    background-color: rgb(46, 46, 56);
    height: 5vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

footer li {
    display: flex;
    gap: 10px;
}

ul:hover{
    color: turquoise;
    cursor: pointer;
} 

ul::after {

}